<app-dashboard></app-dashboard>
<!--{{data | json}}-->
<button class="btn btn-primary btn-lg" (click)="getData()">View measurements </button>

<div class="container mt-5">

    <h2>Display measurements</h2>

    <table class="table table-striped">
      <thead>
          <tr>
            <th>Carb</th>
            <th>Glucose</th>
            <th>Measurement_date</th>
            <th>Patient id</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data.carb }}</td>
          <td>{{ data.glucose }}</td>
          <td>{{ data.measurement_date }}</td>
          <td>{{ data.patient_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>

