<app-dashboard></app-dashboard>
<div id="login-form-wrap">
  <h1>Add a new measurement</h1>
  <form id="login-form">
    <p>
    <input type="text" id="username" name="username" placeholder="Blood Glucose" required><i><span></span><span></span></i>
    </p>
    <p>
     <input type="text" id="username" name="username" placeholder="Carb intake" required><i><span></span><span></span></i>
    </p>
    <p>
      <a  routerLink="/profile" class="btn btn-primary btn-lg">Store Measurement</a>
    </p>
  </form>
