<app-dashboard></app-dashboard>
<div id="login-form-wrap">
  <h1>Add a new measurement</h1>
  <br>
  <br>
  <br>
  <form id="login-form">
    <p>
      <input type="text" id="glucose" name="glucose" placeholder="Blood Glucose (mg/dL)" required><i><span></span><span></span></i>
     </p>
    <p>
    <input type="text" id="carb" name="carb" placeholder="Carb intake (grams)" required><i><span></span><span></span></i>
    </p>
    <p>
      <input type="text" id="measurement_date" name="measurement_date" placeholder="Measurement date (YYYY-MM-DD)" required><i><span></span><span></span></i>
     </p>
    <p>

      <a  class="btn btn-primary btn-lg "  onclick="getElementById('gj').innerHTML='Your new measurement has been successfully stored!'">Store Measurement</a>
    </p>
    <h3 id = "gj"></h3>
  </form>
