<div id="login-form-wrap">
  <h1>Login</h1>
  <form id="login-form">
    <p>
    <input type="text" id="username" name="username" placeholder="Email address" required><i><span></span><span></span></i>
    </p>
    <p>
     <input type="text" id="username" name="username" placeholder="Password" required><i><span></span><span></span></i>
    </p>
    <p>
      <a  routerLink="/profile" class="btn btn-primary btn-lg">LOG IN</a>
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a routerLink="/signup">Create Account</a><p>
  </div>
</div>

<app-footer></app-footer>

