<div id="login-form-wrap">
  <h2>Login</h2>
  <form id="login-form">
    <p>
    <input type="text" id="username" name="username" placeholder="Email address" required><i><span></span><span></span></i>
    </p>
    <p>
     <input type="text" id="username" name="username" placeholder="Password" required><i><span></span><span></span></i>
    </p>
    <p>
      <input type="text" id="username" name="username" placeholder="First Name" required><i><span></span><span></span></i>
      </p>
      <p>
       <input type="text" id="username" name="username" placeholder="Last Name" required><i><span></span><span></span></i>
      </p>
      <p>
        <input type="text" id="username" name="username" placeholder="Address" required><i><span></span><span></span></i>
        </p>
        <p>
         <input type="text" id="username" name="username" placeholder="Date of Birth" required><i><span></span><span></span></i>
        </p>
    <p>
      <a  routerLink="/login" class="btn btn-primary btn-lg">SIGN UP</a>
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Already have an account? <a routerLink="/login">Log in</a><p>
  </div>
</div>

<app-footer></app-footer>
