<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/viewmeasurements">View Measurements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/addmeasurement">Add a new measurement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/viewaverages">View Averages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/viewconsultations">View Consultations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>

      </ul>


      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<app-footer></app-footer>

