
<app-dashboard></app-dashboard>
<div id="login-form-wrap">
  <h1>Please specify your measurement period</h1>
  <br>
  <br>
  <br>
  <form id="login-form">
    <h2>From:</h2>
    <p>
    <input type="text" id="username" name="username" placeholder="Insert date (e.g. 2023-02-07)" required><i><span></span><span></span></i>
    </p>
    <h2>To:</h2>
    <p>
     <input type="text" id="username" name="username" placeholder="Insert date (e.g. 2023-02-07)" required><i><span></span><span></span></i>
    </p>
    <p>
      <a class="btn btn-primary btn-lg" onclick="getElementById('demo').innerHTML ='Your average blood glucose is ' + (Math.random() * (1.45 - 0.77 + 0.5) + 0.77).toFixed(2) +' mg/dL <br> <br> Your average carb intake is ' +  Math.floor(Math.random() * (400 - 200 + 1) + 200) + ' grams'">View averages</a>
    </p>
    <h3 id="demo"></h3>

  </form>
