
<app-dashboard></app-dashboard>
<div id="login-form-wrap">
  <h1>Please specify your measurement period</h1>
  <br>
  <br>
  <br>
  <form id="login-form">
    <h2>From:</h2>
    <p>
    <input type="text" id="username" name="username" placeholder="Insert date" required><i><span></span><span></span></i>
    </p>
    <h2>To:</h2>
    <p>
     <input type="text" id="username" name="username" placeholder="Insert date" required><i><span></span><span></span></i>
    </p>
    <p>
      <a class="btn btn-primary btn-lg " (click)="getData()" >View averages</a>
    </p>
  </form>
