

<div class="row" id="icon-left">
  <div class="col-md-12">
      <i id="showLeftPush"></i>
  </div>
</div>



<div class="row" id="icon-right">
<div class="col-md-12">
    <i id="showRightPush"></i>
</div>
</div>


  <div class="container" id="home">
      <div class="row text-center">
          <div class="col-md-12">
              <span class="head-main">Welcome to Sacchon</span>
              <h2 class="head-sub-main">The new app to track your blood measurements</h2>
              <h3 class="head-last">Anytime, anywhere and most importantly, zero cost </h3>
              <a routerLink="/signup" class="btn btn-danger btn-lg head-btn-one">SIGN UP</a> &nbsp;  <a   routerLink="/login" class="btn btn-primary btn-lg">LOG IN</a>

          </div>

      </div>
  </div>




  <app-ser></app-ser>

 <app-stats></app-stats>



  <section class="for-full-back color-white" id="about-team">
      <div class="container">
          <div class="row text-center g-pad-bottom">
              <div class="col-md-8 col-md-offset-2 ">





              </div>
          </div>





 <div class="for-full-back color-bg-one" id="footer">
   Sacchon App 2023 | Power by Pfizer 2023&copy; | All Right Reserved | Terms | Policies | Licenses

 </div>








